/* commit shared style */
body {
    font-family: 'Lato' , sans-serif;
    font-family: 'Open Sans', sans-serif;
 }

.btn-primary{
    font-size: 11px;
    background-color: #f52c6cda;
    color: white;
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
}

/* header countent  styles */

header{
    background-color: #f9eaefda;
}


.banner{
    padding: 50px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.banner .profil-pic{
    width: 350px;
    height: 400px;
    padding-top: 0px;
    
}

.banner-content{
    max-width: 500px;
   
}

.banner-greating{
    
    font-size: 43px;
    margin-bottom: 15px;
    margin-right: 100px;
    margin-top: 80px;
}

.banner-description{
    color: #474747;
    font-size: 11px;
    margin-bottom: 15px;
    margin-right: 115px;

}