/* commit shared style */
body {
    font-family: 'Lato' , sans-serif;
    font-family: 'Open Sans', sans-serif;
 }

.btn-primary{
    font-size: 11px;
    background-color: #f52c6cda;
    color: white;
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
}

.primary{
    color: #f52c6cda;

}
/* header countent  styles */

header{
    background-color: #f9eaefda;
}


.banner{
    padding: 50px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.banner .profil-pic{
    width: 350px;
    height: 400px;
    padding-top: 0px;
    
}

.banner-content{
    max-width: 500px;
   
}

.banner-greating{
    
    font-size: 43px;
    margin-bottom: 15px;
    margin-right: 100px;
    margin-top: 80px;
}

.banner-description{
    color: #757575;
    font-size: 11px;
    margin-bottom: 15px;
    margin-right: 115px;

}

/* section-4 releted styles */

.flowers{
    background-color: #fcf4f6da;
}

.heading{
    
    margin-right: 300px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.section{
    padding: 70px 100px 85px 280px;
}

.sele{
    font-size: 15px;
}

.sele-item{
    font-size: 10px;
    color: #757575;
}

.pic{
    padding-bottom: 5px;
    width: 200px;
    height: 250px;
}

/* section 5 releted styles */
.instagrm{
    text-align: center;
    padding: 30px 420px 10px 420px;
}

.item-title{
    font-size: 18px;
}

.item-title-drescription{
    font-size: 10px;
    color: #757575;
}

.images{
    padding: 2px 150px 10px 150px;
    
    
}
.flow{
    width: 210px;
    margin: 5px;
}


/* section 6 releted styles */
.deals-many{
    margin: 10px 150px 10px 150px;
    padding: 80px 20px 50px 20px;
    
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
}

.dealer{
    text-align: center;
}
.latest-feals{
    font-size: 30px;
    padding-top: 0px;
}
.maner{
    font-size: 10px;
    color: #757575;
    padding-bottom: 0px;
}